/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 16 sept 2024, 11:30:14
    Author     : juan
*/

.jfx-snackbar-content{
    -fx-background-color: #f82d2d;
}

.jfx-snackbar-toast{
    -fx-text-fill: #ffffff;
}