

 .tab-label:focused {
    -fx-focus-color: transparent; /* Elimina el color del foco */
    -fx-faint-focus-color: transparent; /* Elimina cualquier sombra del foco */
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.tab:selected .tab-label:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.tab-pane .tab:selected .tab-label {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.tab-pane .tab:selected {
   
    -fx-border-width: 0 0 3px 0; 
   -fx-border-color: #007acc;  
}

.tab {
    -fx-background-color: #e6e6e6; /* Color de fondo de la pestaña */
    -fx-border-color: #007acc;    /* Color del borde */
         -fx-border-width: 0 0 3px 0;    /* Grosor del borde */
}

/* Personalización del borde de la pestaña seleccionada */
.tab:selected {
    -fx-background-color: #ffffff; /* Color de fondo de la pestaña seleccionada */
    -fx-border-color: #007acc;     /* Color del borde */
    -fx-border-width: 0 0 3px 0;         /* Grosor del borde */
    -fx-border-radius: 3px 3px 0 0; /* Bordes redondeados */
}

/* Personalización del borde de la pestaña al pasar el ratón */
.tab:hover {
    -fx-background-color: #f0f0f0; /* Fondo más claro cuando el ratón pasa sobre la pestaña */
    -fx-border-color: #005f99;     /* Cambiar el color del borde al pasar el ratón */
    -fx-border-width: 0 0 3px 0;          /* Grosor del borde */
}

/* Personalización del borde de las pestañas no seleccionadas */
.tab:focused {
    -fx-background-color: #e6e6e6;
    -fx-border-color: #ccc;
    -fx-border-width: 0 0 3px 0;  
}

