.text-field{
	-fx-background-color: #F5F5F5;
	-fx-border-color: #DEDEDE;
	-fx-text-fill: #14919B;
	
}

.text.field:focused{
	-fx-background-color: #F5F5F5;
	-fx-border-color: #DEDEDE;
	-fx-text-fill: #14919B;

}

.label{
	-fx-text-fill:#14919B;
}

.label-pane{
	-fx-text-fill:#FFFFFF;
}

.pane{
	-fx-background-color: #14919B;
}

.flat-button-submit{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-text-fill:  #14919B;
	-fx-font-size: 14px;
	-fx-padding: 8px 18px;
}

.flat-button-submit:hover{
	-fx-background-color:  #149B61;
	-fx-text-fill:  #FFFFFF;

}

.flat-button-submit:pressed{
	-fx-background-color: #149B61;
	-fx-text-fill:  #FFFFFF;
}

.flat-button-cancel{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-text-fill:  #14919B;
	-fx-font-size: 14px;
	-fx-padding: 8px 18px;
}

.flat-button-cancel:hover{
	-fx-background-color:  #9B1E14;
	-fx-text-fill:  #FFFFFF;

}

.flat-button-cancel:pressed{
	-fx-background-color: #9B1E14;
	-fx-text-fill:  #FFFFFF;
}

.combo-box{
	-fx-background-color: #F5F5F5;
	-fx-border-color: #DEDEDE;
	-fx-text-fill: #14919B;
}
